.page{
    background-color: rgba(92, 176, 245, 0.4);
    padding: 10px;
    border-radius: 10px; 
}

.details-page{
  color: white;
  width: 95vw;
  min-height: 90vh;
  max-height: 90vh;
}

@media (min-width: 768px) {
  .details-page {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .back-arrow{
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: rgb(174, 174, 203, 0.3);
    cursor: pointer;
    padding: 4px;
    transition: ease-in-out 0.3s;
    margin: 5px;
    position: absolute;
    top: 10px;
  }
}

.card{
    background: rgb(94,143,215, 1);
    width: 400px;
    max-width: 390px; 
    min-width: 350px;
    max-height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 15px; 
    border: rgba(255, 255, 255, 0) 1px solid;
    margin: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out; 
}

.card:hover{
  box-shadow: 0px 0px 5px #00ccff;
  border: 1px solid #00ccff;
  scale: 1.05;
  margin: 10px;
}

.card-title{
    font-size: large;
    font-family: Georgia;
    font-weight: bold;
    background-color: rgb(13,24,121, 0.3); 
    color: white;
}

.card .ant-card-body{
    padding: 2px; 
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
 

.card .card-content{
  border: none;
}

.card-image{
  border: none; 
}

.card-actions{
    background-color: rgba(0, 0, 0, 0); 
    min-height: 40px; 
    justify-content: center;
    padding-top: 10px; 
    border-radius: 0px 0 15px 15px;
}

.card-actions-button{
  color:#061371;
  font-size: 24px; 
  margin-left:10; 
  margin-right: 10;
  transition: 0.2s;
}

.card-actions-button:hover{
  color:#b9f1ff;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: height 0.5s ease-in-out; 
    z-index: 1;
  }
  
  .overlay-text {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .card:hover .card-overlay {
    height: 202px; 
  }

  .card:hover .overlay-text{
    opacity:1;
  }

  .back-arrow{
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: rgb(174, 174, 203, 0.3);
    cursor: pointer;
    padding: 4px;
    transition: ease-in-out 0.3s;
    margin: 5px;
  }

  .back-arrow:hover{
    color: #00ccff; 
    box-shadow: 0px 0px 5px 1px;
  }

  .proj-title{
    font-size: 2em;
    justify-content: center;
    height:fit-content;
    margin-left: 20px;
  }

  .edit-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.edit-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.3s ease; 
  z-index: 1; /* Ensure overlay is above the image */
}

.edit-img-container:hover::before {
  opacity: 1; /* Show overlay on hover */
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer;
    color: black !important; /* Optional: to make the delete icon stand out */
    transition: opacity 0.3s ease; 
    z-index: 2;
} 

.edit-img-container:hover .delete-icon {
  color: white; /* Change to white on hover */
  transition: opacity 0.3s ease; 
}

.plus-icon{
  cursor: pointer;
  margin-left: 10px;
}

.plus-icon:hover{
  color:#00ccff;
}

.file-input{
  display: none;
}

.ql-toolbar .ql-divider::before {
  content: "-";
  font-size: 18px;
  margin: 0 5px;
}

.custom-modal .ant-modal-content{
  background: none !important;
  box-shadow: none !important;
  justify-content: space-between; 
  pointer-events: none;
}

.custom-modal .ant-modal-body {
  background: none !important;
  pointer-events: none;
}

.custom-modal .ant-modal {
  background: none !important;
  pointer-events: none; 
}

.custom-modal .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Change to your desired color */
}

.modal-content-wrapper {
  pointer-events: auto; /* Enable interaction with buttons and other elements inside the modal */
  width: fit-content;
  height: fit-content;
}

.preview-nav-button {
  opacity: 0.6;
  transition: 0.5s;
}

.preview-nav-button:hover{
  opacity: 1;
}

.control-button{
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
}

.control-button:hover{
  background: rgba(255, 255, 255, 0.201);
}

.tools{
  background: rgb(19, 18, 18);
  border-radius: 5px;
}

.ant-spin-dot-item {
  background-color: #68daf6 !important;
  font-size: larger; 
} 

.display-switch{
  margin-left: 5px;
}

.display-switch:hover{
  box-shadow: #b9f1ff 0 0 7px;
}
 
.display-switch.on {
  background-color: #2432a1 !important;
}

.display-switch.off {
  background-color: #555c8fd3 !important;
}

.tags-section{
  margin: auto;
  width: 80%; 
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.blue-button{
  color: white;
  background-color: #5475d8;
  border: none;
  transition: 0.2s;
}

.blue-button:hover{
  background-color: #2432a1 !important;
  color: #00ccff !important;
  box-shadow: #00ccff 0px 0px 3px;
}